// Colors
$primary: #8B4513;
$secondary: #D2B48C;
$sand: #C19A6B;
$cold: #A9A9A9;
$success : #28a745;
$danger: #872617;
$warning: #FFD700;
$info: #4D91D3;
$white: #ffffff;

// Margins
$border-radius: 5px;



:export {
    primary: $primary;
    secondary: $secondary;
    sand: $sand;
    cold: $cold;
    success : $success;
    danger: $danger;
    warning: $warning;
    info: $info;
    white: $white;
  }