.slider {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    width: 100%;
    //background: rgb(202, 193, 193);
    align-items: center;
    justify-content: center;
}

.leftBtn {
    margin-right: 15px;
    cursor: pointer;
}

.rightBtn {
    margin-left: 15px;
    cursor: pointer;
}
  